<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Order Confirmation</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
		<h1>
			Alerta de temparatura: <span th:text="${temperatura.temperatura}"> </span>
		</h1>
		<br/>
		<h2>
			Instante: <span
				th:text="${#dates.format(temperatura.horaMarcada, 'dd/MM/yyyy hh:mm')}"></span>
		</h2>
		<br/>
		
		<p>Abra seu app imediatamente, não perca tempo</p>
		
		
		
	</div>
</body>
</html>